/*@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700');

body {
    background: #fafafa;
    font-family: 'Nunito Sans';
}*/
.wrapper {
    display: flex;
    width: 100%;
}

#log {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #2c2f39;
    transition: all 0.3s;
    overflow-x: hidden;
    overflow-y: auto;
}

#content {
    width: 100%;
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

.navbar-head {
    padding: 15px 10px;
    background:#fff !important;
    border: none;
    border-radius: 0;
    margin-bottom: 20px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.collapse{
    background-color: white;
    color:#2f3242;
}
.collapse:hover{
    color: #ec5865 !important; 
}

/*CODIGO YO*/

.title{    
    font-size: 20px;
    color:#39407a;
    text-shadow: -1px -1px 14px rgba(150, 150, 150, 0.77);
    font-family: 'Poppins', sans-serif;
}
.subtitle{
    font-size: 17px;
    text-shadow: -1px -1px 14px rgba(150, 150, 150, 0.77);
    font-family: 'Poppins', sans-serif;  
}
