/*@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700');

body {
    background: #fafafa;
    font-family: 'Nunito Sans';
}*/
.wrapper {
    display: flex;
    width: 100%;
}

#log {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: #b8bbc5;
    overflow-x: hidden;
    overflow-y: auto;
}

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
}

.barrita {
    padding: 15px 10px;
    background:#fff !important;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
.change{
    background-color: white;
    color:#2f3242;
}
.change:hover{
    color: #ec5865 !important; 
}

/*CODIGO YO*/

.title{    
    font-size: 20px;
    color:#39407a;
    text-shadow: -1px -1px 14px rgba(150, 150, 150, 0.77);
    font-family: 'Poppins', sans-serif;
}
.subtitle{
    font-size: 17px;
    text-shadow: -1px -1px 14px rgba(150, 150, 150, 0.77);
    font-family: 'Poppins', sans-serif;  
}

/*Author: Raul Orihuela*/
.baseBorder{
    border-style: solid;
    border-color: #ff589e;
    border-width: 3px;
    color:#550093;
}
.myBackground{
    background-color: #ffffff;
}
.contrastColor{
    color:#550093;
}
.noBorder{
    border-style: none;
    color:#b958ff;
}
/*Author: Raul Orihuela*/